{% extends 'base.html' %}
{% block content %}
 <!-- Sub banner start -->
    <div class="sub-banner">
      <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
          <h1>About Us</h1>
          <ul class="breadcrumbs">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">About Us</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Sub Banner end -->

  <!-- About car start -->
    <div class="about-car content-area-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="about-slider-box simple-slider">
              <img class="d-block w-100" src="img/car/car-12.jpg" alt="about" />
            </div>
          </div>
          <div
            class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-center"
          >
            <div class="about-text">
              <!-- Main title -->
              <div class="main-title">
                <h1 class="mb-10">Welcome to Car Cmart</h1>
                <div class="title-border">
                  <div class="title-border-inner"></div>
                  <div class="title-border-inner"></div>
                  <div class="title-border-inner"></div>
                  <div class="title-border-inner"></div>
                  <div class="title-border-inner"></div>
                </div>
              </div>
              <p>
                One morning, when Gregor Samsa woke from troubled dreams, he
                found himself transformed in his bed into a horrible vermin. He
                lay on his armour-like back, and if he lifted his head a little
                he could Gregor Samsa woke from troubled dreams, he found
                himself transformed in his bed into a horrible vermin.
              </p>
              <p class="mb-0">
                morning, when Gregor Samsa woke from troubled dreams, he found
                himself transformed in his bed into a horrible vermin. He lay on
                his armour-like back, and if he lifted his<span
                  class="d-none-1200"
                >
                  head a little he could see Lorem Ipsum is simply dummy text of
                  the printing and typesetting industry. Lorem Ipsum has been
                  the industry's standard dummy text ever since the 1500s, when
                  an unknown printer took a galley of type scrambled</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About car end -->

<!-- Advantages 2 start -->
    <div class="advantages-2 content-area bg-grea-3">
      <div class="container">
        <!-- Main title -->
        <div class="main-title">
          <h1 class="mb-10">Our Advantages</h1>
          <div class="title-border">
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="advantages-box-2 df-box">
              <div class="icon">
                <i class="flaticon-shield"></i>
              </div>
              <div class="detail">
                <h5>
                  <a href="services.html">Highly Secured</a>
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="advantages-box-2 df-box">
              <div class="icon">
                <i class="flaticon-deal"></i>
              </div>
              <div class="detail">
                <h5>
                  <a href="services.html">Trusted Agents</a>
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="advantages-box-2 df-box">
              <div class="icon">
                <i class="flaticon-money"></i>
              </div>
              <div class="detail">
                <h5>
                  <a href="services.html">Get an Offer</a>
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="advantages-box-2 df-box">
              <div class="icon">
                <i class="flaticon-support-2"></i>
              </div>
              <div class="detail">
                <h5>
                  <a href="services.html">Free Support</a>
                </h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Advantages 2 end -->

    <!-- Our team start -->
    <div class="our-team content-area">
      <div class="container">
        <!-- Main title -->
        <div class="main-title">
          <h1 class="mb-10">Our Agent</h1>
          <div class="title-border">
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
          </div>
        </div>
        <div class="row">
            {% for team in teams%}
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="team-3">
              <div class="thumb">
                <img
                  src="{{team.photo.url}}"
                  alt="agent"
                  class="img-fluid"
                />
                <ul>
                  <li>
                    <a href="{{team.facebook_link}}" class="facebook-bg"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{team.twitter.link}}" class="twitter-bg"
                      ><i class="fa fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{team.google_plus_link}}" class="google-bg"
                      ><i class="fa fa-google"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="info">
                <h5><a href="agent.html">{{team.first_name}} {{team.last_name}}</a></h5>
                <p>{{team.designation}}</p>
              </div>
            </div>
          </div>
          {% endfor%}
        </div>
      </div>
    </div>
    <!-- Our team end -->

    <!-- Counters strat -->
    <div class="counters">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="counter-box">
              <i class="flaticon-car"></i>
              <h1 class="counter">967</h1>
              <h5>Total Cars</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="counter-box">
              <i class="flaticon-blog"></i>
              <h1 class="counter">1276</h1>
              <h5>Dealer Reviews</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="counter-box">
              <i class="flaticon-user"></i>
              <h1 class="counter">396</h1>
              <h5>Happy Clients</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="counter-box">
              <i class="flaticon-medal"></i>
              <h1 class="counter">177</h1>
              <h5>Awards</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counters end -->

    <!-- Testimonial start -->
    <div class="testimonial content-area-5 testimonial-bg">
      <div class="container">
        <!-- Main title -->
        <div class="main-title">
          <h1 class="mb-10">Our Testimonial</h1>
          <div class="title-border">
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
            <div class="title-border-inner"></div>
          </div>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area">
          <div
            class="row slick-carousel"
            data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'
          >
            <div class="slick-slide-item">
              <div class="testimonials-inner">
                <div class="user">
                  <a href="#">
                    <img
                      class="media-object"
                      src="img/avatar/avatar-2.jpg"
                      alt="user"
                    />
                  </a>
                </div>
                <div class="testimonial-info">
                  <h3>Creative Director, india</h3>
                  <p>Office Manager</p>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text everLorem industry's standard dummy text
                    everLorem.
                  </p>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                    <span>Reting</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-slide-item">
              <div class="testimonials-inner">
                <div class="user">
                  <a href="#">
                    <img
                      class="media-object"
                      src="img/avatar/avatar-1.jpg"
                      alt="user"
                    />
                  </a>
                </div>
                <div class="testimonial-info">
                  <h3>Pitarshon Roky</h3>
                  <p>Web Designer, Uk</p>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text everLorem industry's standard dummy text
                    everLorem.
                  </p>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                    <span>Reting</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-slide-item">
              <div class="testimonials-inner">
                <div class="user">
                  <a href="#">
                    <img
                      class="media-object"
                      src="img/avatar/avatar-3.jpg"
                      alt="user"
                    />
                  </a>
                </div>
                <div class="testimonial-info">
                  <h3>Maikel Alisa</h3>
                  <p>Creative Director</p>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text everLorem industry's standard dummy text
                    everLorem.
                  </p>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-full"></i>
                    <span>Reting</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial end -->
{% endblock %}
